#cards-el img {
    position: absolute;
    width: 50px;
    height: 70px;
  }
  
  @keyframes dropFromTopRight {
    0% {
      top: -300px;
      left: -200%; /* Inicia desde el lado derecho */
      opacity: 0;
      transform: rotate(-360deg);
    }
    50% {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      left: 0;
    }
  }
  
  .dropFromTopRight {
    animation: dropFromTopRight 3s forwards;
  }
  