#player-el {
    padding: 5px 30px;
    border: 2px solid rgb(204, 174, 4);
    border-radius: 20px;
   margin-left: 10px;
   margin-top: 0;
}


#imgCard {
   
    position: absolute;
    margin: auto;
    height: 50px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .chips {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

 

  #imgSalud {
    height: 30px;
    width: 30px;
    cursor: pointer;
    animation: heartbeat 5s infinite;
    margin-left: 5px !important;
    margin-top: -20px;
  }

  
  @keyframes progressAnimation {
    0% {
      width: 0%;
      background-color: #4caf50; /* Verde al inicio */
    }
    50% {
      width: 100%;
      background-color: gold; /* Cambia a dorado al final */
    }
    100% {
      width: 0%;
      background-color: gold; /* Cambia a dorado al final */
    }
  }
  /* Clase que aplica la animación */
  .progress-animated {
    animation: progressAnimation 2s forwards; /* Duración de 2 segundos, puede ajustarse */
  }
  




  
  .number {
    position: absolute;
    top: 5px; /* Posiciona los números encima de la barra de progreso */
    transform: translateY(-50%);
    font-size: 12px; /* Tamaño del número, ajusta según necesites */
    color: #fff; /* Color del número */
    width: 30px; /* Ancho del círculo */
    height: 30px; /* Altura del círculo */
    border-radius: 50%; /* Círculo */
    background-color: #4caf50; /* Color de fondo del círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1; /* Asegura que los números estén por encima de la barra de progreso */
  }
  
  .number.one {
    left: calc(0% - 15px); /* Alinea el número uno a la izquierda */

  }
  
  .number.two {
    right: calc(0% - 15px); /* Alinea el número dos a la derecha */
    margin-right: 10px;
  }
  
  
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }