@keyframes moveToTopRight {
    0% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(55vw, -55vh) scale(1); /* Curvatura */
    }
    100% {
      transform: translate(50vw, -50vh) scale(1); /* Mover a la esquina superior derecha */
    }
  }
  
  @keyframes growBigger {
    0% {
      transform: translate(50vw, -50vh) scale(1);
    }
    100% {
      transform: translate(50vw, -50vh) scale(1.5); /* Aumentar tamaño en la esquina superior derecha */
    }
  }
  
  @keyframes moveBack {
    0% {
      transform: translate(50vw, -50vh) scale(1.5);
    }
    100% {
      transform: translate(0, 0) scale(1); /* Volver a la posición original */
    }
  }
  
  .move-to-top-right {
    animation: moveToTopRight 1s forwards; /* Ajustar la duración según sea necesario */
  }
  
  .grow-bigger {
    animation: growBigger 0.5s forwards; /* Ajustar la duración según sea necesario */
  }
  
  .move-back {
    animation: moveBack 1s forwards; /* Ajustar la duración según sea necesario */
  }
  
  .no-transition {
    transition: none; /* Desactivar transición para el regreso instantáneo */
  }
  